In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import linear_model

df = pd.read_csv('Outfit_Price_Prediction.csv')

In [2]:
df

,Gender,Style,Type,Size,Fabric,Brand,Price range,Up,Low,Average
0,Male,Formal,Shirt,L,Denim,Cats eye,700-1000,700,1000,850.0
1,Female,Traditional,Salwar Kameez,L,Mixed,None,501-1000,501,1000,750.5
2,Male,Casual,T-Shirt,XL,Cotton,None,0-500,0,500,250.0
3,Male,Casual,T-Shirt,S,Mixed,None,0-500,0,500,250.0
4,Male,Formal,Shirt,S,Mixed,None,501-1000,501,1000,750.5
...,...,...,...,...,...,...,...,...,...,...
321,Female,Casual,Tops,S,Mixed,Zaara,501-1000,501,1000,750.5
322,Female,Casual,Salwar Kameez,XL,Mixed,Aarong,2001-3000,2001,3000,2500.5
323,Male,Formal,Shirt,XL,Denim,None,1501-2000,1501,2000,1750.5
324,Male,Formal,Shirt,XXL,Mixed,Cats eye,2001-3000,2001,3000,2500.5
325,Male,Traditional,Panjabi,L,Cotton,Aarong,1501-2000,1501,2000,1750.5

In [3]:
df_1 = df.drop(['Price range','Up','Low'],axis = 'columns')

In [4]:
df_1

     Gender        Style           Type Size  Fabric     Brand  Average
0      Male       Formal          Shirt    L   Denim  Cats eye    850.0
1    Female  Traditional  Salwar Kameez    L   Mixed      None    750.5
2      Male       Casual        T-Shirt   XL  Cotton      None    250.0
3      Male       Casual        T-Shirt    S   Mixed      None    250.0
4      Male       Formal          Shirt    S   Mixed      None    750.5
..      ...          ...            ...  ...     ...       ...      ...
321  Female       Casual           Tops    S   Mixed     Zaara    750.5
322  Female       Casual  Salwar Kameez   XL   Mixed    Aarong   2500.5
323    Male       Formal          Shirt   XL   Denim      None   1750.5
324    Male       Formal          Shirt  XXL   Mixed  Cats eye   2500.5
325    Male  Traditional        Panjabi    L  Cotton    Aarong   1750.5

[326 rows x 7 columns]

In [5]:
df_2 = df_1.dropna()

In [6]:
categorical_cols = ['Gender','Style','Type','Size','Fabric','Brand'] 

from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df_2[categorical_cols] = df_2[categorical_cols].apply(lambda col: le.fit_transform(col))

E:\Anaconda\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [7]:
# Polynomial

In [8]:
df_2

     Gender  Style  Type  Size  Fabric  Brand  Average
0         1      1     4     0       1      1    850.0
1         0      2     2     0       2      2    750.5
2         1      0     5     3       0      2    250.0
3         1      0     5     2       2      2    250.0
4         1      1     4     2       2      2    750.5
..      ...    ...   ...   ...     ...    ...      ...
321       0      0     6     2       2      4    750.5
322       0      0     2     3       2      0   2500.5
323       1      1     4     3       1      2   1750.5
324       1      1     4     5       2      1   2500.5
325       1      2     0     0       0      0   1750.5

[297 rows x 7 columns]

# Linear Regression

In [16]:
X= df_2.iloc[:,0:6].values
Y= df_2.iloc[:,6:7].values

reg = linear_model.LinearRegression()

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import r2_score as r2

scale = StandardScaler()
X= scale.fit_transform(X)
Y= scale.fit_transform(Y)

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=.2,random_state=0)

reg.fit(X_train,Y_train)

LinearRegression()

In [17]:
y_pred = reg.predict(X_test)
y_pred
mse_l = MSE(Y_test,y_pred)
print("MSE of Linear Regression: ",mse_l)
rmse_l = mse_l**(1/2)
print("RMSE of Linear Regression: ",rmse_l)
mae_l = MAE(Y_test,y_pred)
print("MAE of Linear Regression: ",mae_l)
rsquare_l = r2(Y_test,y_pred)
print("R_Square of Linear Regression: ",rsquare_l)

MSE of Linear Regression:  0.6492451124633372
RMSE of Linear Regression:  0.8057574774479832
MAE of Linear Regression:  0.5846196271093196
R_Square of Linear Regression:  0.15380782452652242

In [18]:
y_pred
reg.predict([[1,1,4,4,0,1]])

array([[0.9010899]])

# Polynomial Regression

In [15]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=3)
x_poly = poly.fit_transform(X_train)
poly.fit(X_train,Y_train)

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_poly,Y_train)



y_pred = model.predict(poly.fit_transform(X_test))
y_pred
mse_p = MSE(Y_test,y_pred)
print("MSE of Polynomial Regression: ",mse_p)
rmse_p = mse_p**(1/2)
print("RMSE of Polynomial Regression: ",rmse_p)
mae_p = MAE(Y_test,y_pred)
print("MAE of Polynomial Regression: ",mae_p)
rsquare_p = r2(Y_test,y_pred)
print("R_Square of Polynomial Regression: ",rsquare_p)

MSE of Polynomial Regression:  54.55790816323334
RMSE of Polynomial Regression:  7.386332524550553
MAE of Polynomial Regression:  0.9535714285952092
R_Square of Polynomial Regression:  0.9998089877721263

# Random Forest Regression

In [19]:
from sklearn.ensemble import RandomForestRegressor

RfReg = RandomForestRegressor(n_estimators=15, random_state=0)
RfReg.fit(X_train,Y_train)
y_pred = RfReg.predict(X_test)
y_pred
mse_r = MSE(Y_test,y_pred)
print("MSE of Random Forest Regression: ",mse_r)
rmse_r = mse_r**(1/2)
print("RMSE of Random Forest Regression: ",rmse_r)
mae_r = MAE(Y_test,y_pred)
print("MAE of Random Forest Regression: ",mae_r)
rsquare_r = r2(Y_test,y_pred)
print("R_Square of Random Forest Regression: ",rsquare_r)

MSE of Random Forest Regression:  0.019776410106872297
RMSE of Random Forest Regression:  0.14062862477771834
MAE of Random Forest Regression:  0.06336482876962933
R_Square of Random Forest Regression:  0.9742244598070271

C:\Users\HASANC~1\AppData\Local\Temp/ipykernel_10756/1444256027.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  RfReg.fit(X_train,Y_train)

# Regression Tree

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error as MSE 

dt = DecisionTreeRegressor(max_depth=7,min_samples_leaf=0.1,random_state=0)
dt.fit(X_train,Y_train)
y_pred = dt.predict(X_test)
y_pred
mse_d = MSE(Y_test,y_pred)
print("MSE of Decision Tree Regression: ",mse_d)
rmse_d = mse_d**(1/2)
print("RMSE of Decision Tree Regression: ",rmse_d)
mae_d = MAE(Y_test,y_pred)
print("MAE of Decision Tree Regression: ",mae_d)
rsquare_d = r2(Y_test,y_pred)
print("R_Square of Decision Tree Regression: ",rsquare_d)

# Bayesian Ridge

In [22]:
BayReg = linear_model.BayesianRidge()
BayReg.fit(X_train,Y_train)

y_pred = BayReg.predict(X_test)
y_pred

mse_b = MSE(Y_test,y_pred)
print("MSE of Bayesian Regression: ",mse_b)
rmse_b = mse_b**(1/2)
print("RMSE of Bayesian Regression: ",rmse_d)
mae_b = MAE(Y_test,y_pred)
print("MAE of Bayesian Regression: ",mae_b)
rsquare_b = r2(Y_test,y_pred)
print("R_Square of Bayesian Regression: ",rsquare_b)

MSE of Bayesian Regression:  0.6244941494215172
RMSE of Bayesian Regression:  0.7871062330057875
MAE of Bayesian Regression:  0.5780657121967184
R_Square of Bayesian Regression:  0.18606693723967982

E:\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# Support Vector Regression

In [23]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train,Y_train)

y_pred = regressor.predict(X_test)
y_pred

mse_s = MSE(Y_test,y_pred)
print("MSE of Support Vector Regression: ",mse_s)
rmse_s = mse_s**(1/2)
print("RMSE of Support Vector Regression: ",rmse_s)
mae_s = MAE(Y_test,y_pred)
print("MAE of Support Vector Regression: ",mae_s)
rsquare_s = r2(Y_test,y_pred)
print("R_Square of Support Vector Regression: ",rsquare_s)

MSE of Support Vector Regression:  0.24992724776870973
RMSE of Support Vector Regression:  0.49992724247505227
MAE of Support Vector Regression:  0.3175323006772609
R_Square of Support Vector Regression:  0.6742578766637293

E:\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [101]:
y_pred = regressor.predict([[1,1,4,4,0,1]])
y_pred

array([0.21821601])